BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterEnum: false
    AfterStruct: false
    SplitEmptyFunction: false
    AfterCaseLabel: false